<div class="ui segment">
    <div class="ui dividing header">{{ 'sylius.ui.shipment'|trans }} #{{ loop.index }}</div>
    <div class="ui fluid stackable items" {{ sylius_test_html_attribute('shipments') }}>
        {{ form_errors(form.method) }}

        {% for key, choice_form in form.method %}
            {% set fee = form.method.vars.shipping_costs[choice_form.vars.value] %}
            {% set method = form.method.vars.choices[key].data %}
            {% include '@SyliusShop/Checkout/SelectShipping/_choice.html.twig' with {'form': choice_form, 'method': method, 'fee': fee} %}
            {% if choice_form.vars.value == 'mondial_relay' %}
                <div id="mondial-relay-map" style="display: none;"></div>
            {% endif %}
        {% else %}
            {% include '@SyliusShop/Checkout/SelectShipping/_unavailable.html.twig' %}
        {% endfor %}
    </div>
</div>

{% set configuration = form.vars['mondial_relay.configuration'] %}
{% if configuration is defined %}
    {% set googleType = constant('Wishibam\\SyliusMondialRelayPlugin\\DependencyInjection\\ParsedConfiguration::MAP_TYPE_GOOGLE') %}
    {% set privateKey = configuration.privateKey %}
    {% set relayCode = configuration.mondialRelayCode %}
    {% set placeCode = configuration.placeCode %}
    {% set language = configuration.language %}

    {{ form_widget(form.tracking) }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://widget.mondialrelay.com/parcelshop-picker/jquery.plugin.mondialrelay.parcelshoppicker.js"></script>
    {% if configuration.mapType == googleType %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ configuration.googleApiKey }}"></script>
    {% endif %}
    <script>

        $(document).ready(function () {
            const $map = $('#mondial-relay-map');
            const $checkboxEls = $('.checkbox').filter(el => {
                const $radio = $(el).find('#sylius_checkout_select_shipping_shipments');

                return !!$radio;
            });

            const $submitField = $('#{{ form.tracking.vars.id }}');
            setTimeout(() => {
                const getInputChecked = () => $('form[name="sylius_checkout_select_shipping"] .radio.checked').filter((idx, el) => $(el).hasClass('checked'));
                const getTrackingValue = () => $('#{{ form.tracking.vars.id }}').val();

                const isMondialRelaySelected = () => {
                    const $inputChecked = getInputChecked();
                    if ($inputChecked.length !== 1) {
                        return false;
                    }

                    const $inputHtml = $inputChecked.find('input');
                    return $inputHtml.length === 1 && $inputHtml[0].value === 'mondial_relay';
                };
                const initialInputChecked = getInputChecked();

                const displayMap = () => {
                    $map.show();
                    $map.trigger("MR_RebindMap"); // This re-draw the map
                }
                const canSubmitShipping = () => {
                    const $nextPageButton = $('#next-step');
                    if (!isMondialRelaySelected()) {
                        $nextPageButton.prop('disabled', false);
                        return;
                    }

                    // A mondial relay parcel point must be picked in order to submit shipping selection
                    $nextPageButton.prop('disabled', !getTrackingValue());
                };
                if (initialInputChecked.length === 1 && initialInputChecked[0].value === 'mondial_relay') {
                    displayMap();
                    canSubmitShipping();
                }

                $checkboxEls.checkbox({
                    onChecked: function() {
                        if ($(this).val() === "{{ constant('Wishibam\\SyliusMondialRelayPlugin\\DependencyInjection\\ParsedConfiguration::MONDIAL_RELAY_CODE')}}") {
                            displayMap();
                        } else {
                            $submitField.val('');
                            $map.hide();
                        }
                        canSubmitShipping();
                    },
                });

                $map.MR_ParcelShopPicker({
                    Target: "#{{ form.tracking.vars.id }}",
                    Brand: "{{ relayCode }}",
                    Country: "{{ language }}",
                    Responsive: {{ configuration.responsive }},
                    NbResults: {{ configuration.nbMapResults }},
                    PostCode: "{{ order.shippingAddress.postCode ?: '' }}",
                    City: "{{ order.shippingAddress.city ?: '' }}",
                    EnableGmap: {{ configuration.mapType == googleType ? 'true' : 'false' }},
                    OnParcelShopSelected: () => canSubmitShipping(),
                });
            }, 200);
        });
    </script>
{% endif %}
